Pane {
    -fx-background-color: #484848;
    -fx-content-display: flex;
    -fx-content-align: center;
}

children:nth-child(1) {
    -fx-background-color: green;
}

TilePane {
    -fx-border-color: blue;
    -fx-border-width: 2;
    -fx-border-radius: 5;
    -fx-box-shadow: 10;
    -fx-cursor: closed_hand;
}

Button {
    -fx-background-color: #f2f2f2;
    -fx-text-fill: #484848;
}